*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.App {
  display: grid;
  height: 100vh;
  place-content: center;
}

body {
  font-family: monospace;
}

.box {
  border: 2px solid black;
  width: 300px;
  height: 300px;
  display: flex;
  place-content: center;
  place-items: center;
  border-radius: 10px;
  margin-bottom: 20px;
  box-shadow: 0 0 5px 0 black;
}

.name-input {
  max-width: 300px;
  width: 100%;
  padding: 0.3rem;
  border-radius: 10px;
  font-size: 2rem;
  box-shadow: 0 0 5px 0 black;
}